body {
    background: linear-gradient(135deg, #020617, #0f172a);
    color: #e2e8f0;
}

.container {
    max-width: 400px;
    margin-top: 120px;
}

.caja {
    width: 30%;
    margin-left: 35%;
    margin-top: 6%;
}

form {
    background: #020617;
    padding: 30px;
    border-radius: 15px;
    box-shadow: 0 10px 40px rgba(0,0,0,0.7);
}

h4 {
    color: #50c6f8;
}

.form-control {
    background-color: #0f172a !important;
    border: 1px solid #334155 !important;
    border-radius: 10px;
}

label {
    color: white !important;
}

.form-control::placeholder {
    color: #94a3b8 !important;
}

.boton {
    width: 100%;
    background: linear-gradient(135deg, #2563eb, #1e3a8a);
    border: none;
    border-radius: 10px;
    margin-bottom: 5px;
}

.boton:hover {
    background: linear-gradient(135deg, #3b82f6, #1e40af);
}

.recuperar {
    margin-left: 10px;
    color: rgb(73, 115, 205);
}